[2016-10-20 03:54] haoch opened #2 "Leverage Eagle Policy Interpreter to convert siddhi query to distributed execution plan"
https://github.com/apache/incubator-eagle/pull/536

[2017-01-27 18:49] nragon opened #3 "Flink 1.2 Snapshot"
Hello,

Current release of flink-siddhi is using 1.2-SNAPSHOT flink right?
I'm getting the following error which seems to be a class from previous versions (until 1.1.4 this class was there):
[code]

Thank you

[2017-08-14 05:52] haoch commented on #3
Hi @nragon a fixed version for stable dependency on `flink-1.3` is at branch [`flink_1.3`](https://github.com/haoch/flink-siddhi/tree/flink_1.3), made a more stable release based along with your fix as well, thanks very much for the contribution.

[2018-04-27 11:26] Wosin opened #5 "StreamSerializer fails on compositeTypes and rowTypes"
In ```StreamSchema``` there are methods ```isRowType()``` and is ```isCompositeType()```. But they are not used in ```StreamSerializer```, which makes it impossible to create SiddhiStream for those types.

[2018-06-08 13:22] Wosin commented on #5
Any updates on this ?

[2018-07-19 11:30] aagupta1 opened #8 "OperationControlEvent enableQuery disables the query instead of enabling it."
From OperationControlEvent.java

public static OperationControlEvent enableQuery(String queryId) {
        return new OperationControlEvent(Action.DISABLE_QUERY, queryId);
    }

    public static OperationControlEvent disableQuery(String queryId) {
        return new OperationControlEvent(Action.ENABLE_QUERY, queryId);
    }

[2018-08-13 15:45] haoch commented on #8
@aagupta1 would you mind I close the issue as it was resolved in #9?

[2018-08-13 16:09] aagupta1 commented on #8
Please go ahead and close.

[2018-08-13 16:54] haoch commented on #5
@Wosin Supported `RowType` in https://github.com/haoch/flink-siddhi/commit/a700abb4e8fe6ce8399efd3737a4d6ea70c7053b. For `CompositeType`, it's just an abstract class, while `Pojo` and `Tuple` are subclass of it, which are already supported.

[2018-08-13 16:55] haoch commented on #8
Thanks!

[2018-08-14 15:59] haoch opened #10 "[DISCUSS] What use cases are using flink-siddhi?"

[2018-08-14 16:00] haoch commented on #10
We use flink-siddhi at @eBay for monitoring/anomaly detection.

[2018-08-15 02:13] zhuan77241 commented on #10
Calculating aggregations and event patterns.

[2018-08-16 03:48] JasonChoi27 opened #11 "[DISCUSS] How to enable dynamic pattern ?"

[2018-08-16 04:06] JasonChoi27 commented on #11
hi, haoch

I don't want to reload flink driver when add a new pattern or change one.

Here is my way:
      extend AbstractSiddhiOperator with implementing TwoInputStreamOperator, while one input accepts pattern stream and the other processes event.  When receiving new pattern, reload SiddhiAppRuntime  with new executionPlan.

Does it work for my case? Or is  there a better way to enable dynamic p

[2018-08-16 07:29] JasonChoi27 commented on #11
ok, i have found the way.

[code]

[2018-08-17 01:47] haoch commented on #11
Yes, you could use`ControlEvent` to broadcast to all operator as the interface for managing runtime dynamically.

[2018-08-17 01:52] haoch opened #12 "Implement basic management API for dynamical CEP stream processor"

[2018-08-17 10:57] JasonChoi27 commented on #11
hi, haoch

With `AbstractSiddhiOperator`, we already have `snapshotState` using flink checkpoint, why do we still need to `checkpointSiddhiRuntimeState` or `checkpointRecordQueueState` when processing every element ?

code as

[code]

[2018-08-20 02:18] JasonChoi27 opened #13 "[Question]Why need to do siddhi snapshot when processing each element ?"
hi, haoch

With AbstractSiddhiOperator, we already have snapshotState using flink checkpoint, why do we still need to checkpointSiddhiRuntimeState or checkpointRecordQueueState when processing every element ?

code as

@Override
    public void processElement(StreamRecord<IN> element) throws Exception {
        if (isControlStream(element.getValue())) {
            this.onEventReceived(getControlE

[2018-09-08 07:35] zhuan77241 opened #14 "KryoSerializer Exception"
StreamOutputHandler.receive exception when executing multiple Query
Is **Output<StreamRecord<R>> output** thread safe?
<pre>
java.lang.ArrayIndexOutOfBoundsException: -1
	at com.esotericsoftware.kryo.util.IntArray.pop(IntArray.java:157)
	at com.esotericsoftware.kryo.Kryo.reference(Kryo.java:822)
	at com.esotericsoftware.kryo.Kryo.copy(Kryo.java:863)
	at com.esotericsoftware.kryo.serializers.MapSer

[2018-11-16 05:13] aagupta1 commented on #10
Alerting in the security domain.

[2018-11-16 05:19] aagupta1 opened #16 "Returning Query Id in Output"
When multiple QueryHandlers sharing the same Output Stream are registered with Siddhi, is there a way to tell which Query triggered the output results ?

Based on the query that triggered the output, I would like to take further action on the query results.

If this feature is not supported currently by the library, how can I add support ?  Pointers on getting started would be helpful.

[2018-11-23 06:52] aagupta1 commented on #16
Solved this issue by adding a query name string literal to the Siddhi Query. Closing.

[2018-12-05 13:36] aagupta1 opened #17 "Support Siddhi QueryCallback"
Hi @haoch, Siddhi supports both StreamCallback and QueryCallback.

The flink-siddhi library only has support for StreamCallback as far as I can tell.

I'd like to be able to register a QueryCallback as well.

Do you mind if I work on this ?

[2018-12-07 08:45] haoch commented on #17
What's the purpose fo `QueryCallback`? As `Stream` concept is used to bind with Flink DataStream, how should we use QueryCallback in flink?

[2018-12-07 08:54] haoch commented on #10
@eBay is building an Unified Streaming Platform based on `flink` + `flink-siddhi` to support both _DAG Pipeline SQL_ (Flink SQL) and _Dynamic Embed SQL_ (Siddhi CEP)

[2018-12-09 10:09] haoch opened #19 "Support Dynamic Route Partitioner"

[2018-12-09 10:11] haoch commented on #19
@wujinhu keep our discussion here.

[2018-12-10 10:24] aagupta1 commented on #17
@haoch, I'm a beginner with Flink and Siddhi. Maybe I am missing something here.

My use case is this - I have multiple Siddhi queries that output results to a common Flink DataStream.  I want to be able to take custom action on the query results based on the type of query.

I was thinking that if I could add a QueryCallback, I could take custom action based on the Query name.

[2018-12-10 23:57] haoch commented on #17
It makes sense then. The feature sounds good. We may expect a new method: `DataStream retainQuery(queryName)` on `SiddhiStream`

[2018-12-11 04:07] aagupta1 commented on #17
Thanks for the pointer. I will work on this.

[2018-12-11 05:39] haoch commented on #17
Thanks @aagupta1 👍

[2018-12-21 05:35] coder20170628 opened #20 "CEP output less than expect"
I use FlinkKafkaConsumer010 as the source of stream and find that the CEP output is less than expect.
Below is the CEP code, it print about 7 elements every iterate:
`DataStream outstream = cep.from("inputstream")
					.cql("from every s1 = inputstream[dbtbkey == 'a'] " +
							"select s1.sip " +
							"insert into outputstream")
					.returns("outputstream");
			outstream.print().setParallelism

[2018-12-27 08:53] coder20170628 commented on #20
It's a bug in siddhi 4.3.0 or higher. Siddhi 4.2.20 works well.
I have written this issue in Siddhi.

[2018-12-28 11:33] tammypi opened #21 "custom function cannot use in retturn()"
If I register a custom function like this:
`cep.registerExtension("str:groupConcat", GroupConcatFunctionExtension.class);`

Below code will return an exception like 'groupConcat() is neither a function or aggregate':
`DataStream outstream2 = cep.from("inputstream2").cql("from inputstream2#window.timeBatch(1 sec) " +
					"select str:groupConcat(dip) as related_alerts " +
					"group by sip " +

[2018-12-28 11:53] tammypi commented on #21
![1](https://user-images.githubusercontent.com/4264858/50514608-3895cb00-0ada-11e9-9c86-39150fec6ee1.png)

[2018-12-29 01:17] tammypi commented on #21
The reason of custom function cannot use in returns():

1.returns() has one line:
TypeInformation<T> typeInformation =
                SiddhiTypeFactory.getTupleTypeInformation(siddhiContext.getAllEnrichedExecutionPlan(), outStreamId);

2.SiddhiTypeFactory.getTupleTypeInformation() calls the getStreamDefinition() of SiddiTypeFactory

3.
`public static AbstractDefinition getStreamDefinition(String

[2019-01-03 01:38] yangqiangqiang0327 opened #23 "有没有一个测试demo"
有没有一个关于flink-siddhi的小demo，我报了一个错Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/flink/api/java/typeutils/TypeInfoParser 不知道是什么引起的，谢谢

[2019-01-03 03:09] yangqiangqiang0327 commented on #23
更正，是Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/flink/api/java/typeutils/TypeInfoParser  会不会是pom文件引起的

[2019-01-03 06:51] yangqiangqiang0327 opened #24 "Are there any flink-siddhi test demos"
I am using flink-siddhi, no matter how I write the CQL result, it is the data I input. The setting conditions do not work. I just came into contact with flink-siddhi.Therefore, I would like to ask seniors to show me the test demo they have written.Thanks a lot

[2019-01-03 09:08] yangqiangqiang0327 commented on #20
I wonder if you would like to share your code with me. Thank you very much

[2019-01-08 08:46] yangqiangqiang0327 opened #25 "flink-siddhi group by how to use"
[图片]

[2019-01-08 09:18] yangqiangqiang0327 opened #26 "how to use group by in flink-siddhi"

[2019-01-08 09:19] yangqiangqiang0327 commented on #26
Exception in thread "main" org.wso2.siddhi.query.compiler.exception.SiddhiParserException: Error between @ Line: 1. Position: 0 and @ Line: 1. Position: 122. Syntax error in SiddhiQL, extraneous input 'by' expecting {',', GROUP, ORDER, LIMIT, OFFSET, HAVING, INSERT, DELETE, UPDATE, RETURN, OUTPUT}.
I encountered such a mistake

[2019-01-11 14:40] haoch commented on #17
How about the progress @aagupta1 ?

[2019-01-11 14:49] haoch commented on #26
@yangqiangqiang0327 what's your query? It throws a syntax error according to your log.

[2019-01-11 14:50] haoch commented on #24
@yangqiangqiang0327 could you pls. refer to this class for test demos: https://github.com/haoch/flink-siddhi/blob/master/core/src/test/java/org/apache/flink/streaming/siddhi/SiddhiCEPITCase.java?

[2019-01-11 14:52] haoch commented on #23
这个可以吗？https://github.com/haoch/flink-siddhi/blob/master/core/src/test/java/org/apache/flink/streaming/siddhi/SiddhiCEPITCase.java?

[2019-01-11 14:54] haoch commented on #20
@coder20170628 @yangqiangqiang0327 any finding about it?

[2019-01-11 14:56] haoch commented on #14
@zhuan77241 could you pls. share your use case, as I am unable re-produce the problem.

[2019-01-12 09:05] aagupta1 commented on #17
@haoch apologies, working on this one now.

If we add a new method DataStream retainQuery(queryName) on SiddhiStream, are you expecting this method as a replacement for the returns, returnsAsMap, returnsAsRow methods. If that is true, then retainQuery would have to call tranform() to invoke the SiddhiStreamOperator.

The other way to do this is to get the Flink output data stream by calling the re

[2019-01-14 02:54] haoch commented on #20
FWD from https://github.com/wso2/siddhi/issues/981, the issue could be fixed with `Siddhi 4.3.10`

[2019-01-14 06:35] shidayang opened #27 "What are the advantages of siddhi over flink-cep"
I don't konw how to chose siddhi and flink-cep

[2019-01-15 07:03] haoch commented on #27
Some advantages:

* flink siddhi have richer CEP features than flink-cep.
* flink siddhi support flexible SQL language than flink-cep only supports Java DSL.
* flink siddhi support dynamic cep runtime (modify ad-hoc without restart)

[2019-01-15 10:03] haoch commented on #27
What's your use case?

[2019-01-15 10:06] haoch commented on #17
I think `retainQuery(queryName)` will not be replacement for `returns`/`returnsAsMap`/`returnsAsRow ` (`streamId`) as lots of users may not use `queryName`.

[2019-01-15 10:16] haoch opened #29 "Compare with apache/bahir-flink/flink-library-siddhi"
The early version of https://github.com/apache/bahir-flink/tree/master/flink-library-siddhi is contributed from https://github.com/haoch/flink-siddhi, but [`haoch/flink-siddhi`](https://github.com/haoch/flink-siddhi) under active development has more advanced features which are pending for approval from community to be merged into `apache/bahir-flink/flink-library-siddhi`. As flink community may n

[2019-01-15 10:18] haoch commented on #2
@wujinhu is working on it at #28

[2019-01-16 07:31] yangqiangqiang0327 commented on #26
I think it was my SQL syntax error

[2019-01-16 07:33] yangqiangqiang0327 commented on #24
ok.thank you

[2019-01-17 05:30] haoch opened #30 "Integrate with kubernetes"
* __Runtime__: Use kubernetes as flink resource manager.
* __Metadata__: Use `ConfigMap` as siddhi execution plan store and coordination.

[2019-01-17 12:22] panenming commented on #27
dou you have example for (flink siddhi support dynamic cep runtime (modify ad-hoc without restart))

[2019-01-18 00:41] haoch commented on #27
@panenming please have a look about `https://github.com/haoch/flink-siddhi/blob/master/core/src/test/java/org/apache/flink/streaming/siddhi/SiddhiCEPITCase.java#L441` basically idea is
![image](https://user-images.githubusercontent.com/1282617/51358043-97100100-1afc-11e9-90ef-cc2cced0713c.png)

you could send control event (Add/Deleted/Update) through ControlStream which physically could connect t

[2019-01-18 02:31] shidayang commented on #27
@haoch thanks，I  also have a question.  can siddhi resolve unsort event?

[2019-01-18 15:06] haoch commented on #27
@shidayang it doesn't have the concept of watermark in flink for out of order event, but it supports to keep some safe window for resorting events then process.

[2019-01-20 12:38] aagupta1 commented on #17
Ok, so we have two use cases -
1.  User wants to get output of one or more queries as a Flink DataStream and does not care about binding to a particular query. They will use returns / returnsAsMap / returnsAsRow(streamId).  These methods will in turn invoke SiddhiStreamOperator to apply the transformations on the input stream(s).

2. User wants to get output of a certain query as a Flink DataStrea

[2019-02-27 06:31] shiveshsky commented on #11
I have imported flink-siddhi jar but I am not able to import the ControlEvent class as a type for my stream.

[2019-02-27 07:19] haoch commented on #11
Hi shiveshsky,

Do you still have a problem? I am unable to check your comment on github.

Hao Chen

On Wed, Feb 27, 2019 at 2:31 PM shiveshsky <notifications@github.com> wrote:

[2019-02-28 11:43] tammypi opened #31 "custom function in a external jar"
In my case user can define custom function in their own project and package a jar file, then upload it to a common local path(~/plugins). Flink application(we call it engine project) should load all jars and register the custom functions of the plugin jars.

Following is the code:
`SiddhiCEP cep = SiddhiCEP.getSiddhiEnvironment(env);
String pluginSql = "select class_path,function_name,file_path fr

[2019-03-01 01:41] tammypi commented on #31
If I change URLClassLoader from local to system, following is the code:
`
SiddhiCEP cep = SiddhiCEP.getSiddhiEnvironment(env);

String pluginSql = "select class_path,function_name,file_path from plugins";

List<Map<String,Object>> pluginRtn = PgUtil.getInstance(host,port,database,username,password).query(pluginSql);

for(int i=0;i<pluginRtn.size();i++){

URL url = new URL("file:"+pluginRtn.get(i).

[2019-03-01 07:11] tammypi commented on #31
Ok, I have found a way walk around this issue.

1.config flink-conf.yaml:
classloader.resolve-order: parent-first
(flink default configure is child-first, maybe some packages in flink-siddhi/siddhi conflict with flink)

2.code:

`SiddhiCEP cep = SiddhiCEP.getSiddhiEnvironment(env);

String pluginSql = "select class_path,function_name,file_path from plugins";

List<Map<String,Object>> pluginRtn = P

[2019-03-15 08:12] tammypi commented on #27
I see flink-siddhi use priority queue to buffer the data until proper watermark. but the priority queue do not sort data by event time. So how can "supports to keep some safe window for resorting events then process"（especially event time）?

[2019-03-15 11:40] aagupta1 opened #33 "Bug: ArrayOutofBoundsException thrown when using a Siddhi event stream of type DataStream<Map<String,Object>>>"
Stack trace -

Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 1
	at org.apache.flink.streaming.siddhi.schema.SiddhiStreamSchema.getStreamDefinition(SiddhiStreamSchema.java:49)
	at org.apache.flink.streaming.siddhi.schema.SiddhiStreamSchema.getStreamDefinitionExpression(SiddhiStreamSchema.java:64)
	at org.apache.flink.streaming.siddhi.operator.SiddhiOperatorContext.getAllEnric

[2019-03-18 10:27] tammypi opened #34 "If input is mixed with delayed data cep cannot output correct"
Below is the code:
`package org.apache.flink.streaming.siddhi.testdelaydata;

import org.apache.flink.api.common.ExecutionConfig;
import org.apache.flink.streaming.api.TimeCharacteristic;
import org.apache.flink.streaming.api.datastream.DataStream;
import org.apache.flink.streaming.api.environment.StreamExecutionEnvironment;
import org.apache.flink.streaming.api.functions.AssignerWithPeriodicWater

[2019-03-19 02:54] tammypi commented on #34
I'm very confused and anxious. Wish your reply, thanks! (PS： In our project must process the real time data and delay data in one time)

[2019-03-20 08:13] tammypi commented on #34
issue link:[https://github.com/siddhi-io/siddhi/issues/1144](url)

[2019-03-28 13:46] haoch commented on #34
@tammypi Sorry for delayed reply. I saw you created a siddhi issue as well, have you found the root cause yet?

[2019-03-28 13:57] haoch commented on #33
@aagupta1 Could you please share the test code?

[2019-03-29 04:39] tammypi commented on #34
@haoch Yes, I have already found and the detail is in the issue like: https://github.com/siddhi-io/siddhi/issues/1144。

[2019-03-30 14:23] haoch commented on #34
Good, thanks! @tammypi

[2019-04-12 01:16] zhuan77241 commented on #14
@haoch Sorry for delayed reply.
My case is  to **execute multiple sql on the same operate**.
So I so I modified the method ExecutionSiddhiStream.cql(String executionPlan) to **ExecutionSiddhiStream.cqls(Map<String, String> executionMap)**.
The  exception occurs when I execute multiple sql with grop by (sql1: select .. from xx group by srcAddress,sql2:select ... from xx group by xx and many more).

[2019-04-12 02:58] haoch commented on #14
@zhuan77241 thanks, I would have a look and update you back once any findings.

[2019-04-25 15:52] liq05 opened #35 "有没有大量cep规则及大规模事件输入的性能测试用例或某些优化配置实例？"
非常感谢提供如此工具，目前测试发现，有60个cep规则时，事件数量350万时，处理完成需要1小时左右。

[2019-05-05 15:52] haoch commented on #35
请问一下是350万是total 还是 rate？规则上中使用了window吗？

[2019-05-06 01:51] liq05 commented on #35
350万是1分钟内发送的事件总数。规则中使用了window，every。

[2019-05-06 03:38] haoch commented on #35
如何判断是1小时处理完？有没可能是因为window 没有合理的flush 或者every没有正确的匹配上导致数据被保留在内存中了？另外我会看一下性能问题，稍晚回复你。

[2019-05-07 06:09] liq05 commented on #35
期待性能测试

[2019-05-14 02:14] tammypi commented on #35
链接是siddhi的性能测试结果：https://docs.wso2.com/display/SP400/Performance+Analysis+Results
按理flink-siddhi和siddhi的性能应该差不多才对。

[2019-05-14 06:39] tammypi commented on #35
我这边测试的如果不使用事件时间，而是直接使用处理时间，那么在提交到yarn上10个taskmanager，每个taskmanager有2个slot，并行度为20的情况下，使用follow by和window，可以处理每秒5万的数据。但是如果是使用事件时间，那么处理的量就直接降为了每秒4000条，目前还不清楚是水印更新得有问题，还是优先级队列有问题。

[2019-05-14 08:43] tammypi commented on #35
发现是否使用事件时间，对于处理的性能影响很大。还有调优的余地吗？

[2019-05-14 10:04] tammypi commented on #35
如果使用事件时间，性能不好的原因应该在红框处，即snapshot优先队列。我这边5万/s的数据量，snapshot导致反压特别大，现在只好把它注释掉了，容忍丢数据。不知道@haoch 有没有什么更好的解决方法？
![image](https://user-images.githubusercontent.com/4264858/57689726-a51cfb00-7672-11e9-875e-9f274c3390fb.png)

[2019-05-22 09:13] pranjal0811 opened #38 "Restoring rules state from savepoint or checkpoint"
Hi Hoach,

I am using flink siddhi wrapper for the dynamic rule. when I try to restore my job from savepoint or restarting the job from failure by checkpointing. I am not able to recover the rules from the state.

Do this wrapper support state management? So, that we can recover the rule from the savepoint.

Thanks,
Pranjal

[2019-05-30 09:12] runc opened #40 "flink-siddhi当前不支持完整的siddhi功能和扩展?"
当前我想实现一个UI+siddhiEngine，功能对其siddhi-distribution + runner，其中runner用flink代替，但flink-siddhi支持实现一部分siddhi或者product-sp功能？

flink-siddhi如何支持完整的siddhi功能呢？比如:

@Source(type = 'http',
        receiver.url='http://localhost:8006/productionStream',
        basic.auth.enabled='false',
        @map(type='json'))
define stream SweetProductionStream (name string, amount double);

@sink(type='log')
define stream T

[2019-06-18 03:26] tammypi commented on #14
I have encountered the same issue, and I modify code like below to solve it:
![image](https://user-images.githubusercontent.com/4264858/59651283-dd58b180-91bb-11e9-9d4f-2eafdb6c64e8.png)

[2019-06-24 20:41] haoch commented on #40
flink-siddhi mainly focus on managing siddhi (programming/dynamical) inside flink distributed runtime. it should natively support all siddhi existing function and extension. For example,  siddhi could easily discover all extension once in classpath.

[2019-06-24 20:43] haoch commented on #38
Yes, it supports state management. What's the error by your side? The recovering error is caused from flink side or siddhi internal?

[2019-06-27 11:06] runc commented on #40
thanks

[2019-06-28 03:16] laityc opened #41 "control event pileline does not take effect"
I found a strange problem，When the control event data source is in a continuous running state, such as kafka, or simple datasource with  an infinite loop ， the execution plan added by the control event does not take effect and the rules cannot be dynamically added or deleted.
When the control event source is in the finished state, the rule can take effect. I don't know if it is my operation proble

[2019-06-28 03:18] laityc commented on #41
When I lengthen the sleep time of the thread, the rule does not take effect during this time.When the sleep time is over, the control event source enters the finished state, and the rule takes effect.

is it?
![image](https://user-images.githubusercontent.com/20394242/60314686-223bcf80-9996-11e9-9c98-0f03165daea8.png)

[2019-06-28 03:41] laityc commented on #41
@

[2019-06-28 03:41] laityc commented on #41
@haoch

[2019-07-16 13:32] hipotato opened #42 "在Flink环境下运行，自定义函数抛出异常 “XXX is neither a function extension nor an aggregated attribute extension”"
自定义了一个函数geo:getGeohashCode，在纯siddhi环境中可以正常运行，在flink-siddhi环境下，按文档的要求增加了函数的注册
` SiddhiCEP cep = SiddhiCEP.getSiddhiEnvironment(env);
        cep.registerExtension("geo:getGeohashCode", GetGeohashCode.class);`
在Idea编译器中可以正常运行，执行jar包抛出异常：
`org.apache.flink.client.program.ProgramInvocationException: The main method caused an error: Error on '1136e420-2a7d-4f2b-82df-7f674737add3' @ Line: 3. Position: 1

[2019-07-17 12:40] #42 closed

[2019-07-17 12:40] hipotato commented on #42
已接近，依赖问题

[2019-07-31 09:16] pranjal0811 opened #43 "Pattern with group by query bug"
I have the query like this - "from every e1=firewallStream[name == 'A']<3> -> e2=firewallStream [ name == 'B' ] within 40 seconds select 'AAAA' as ruleId group by e1[0].signatureId insert into outputstream"

when I execute it I got the error - e1 does not exist. The same query works well with the siddhi simulator.

here - https://github.com/siddhi-io/siddhi/blob/0c6b8b514e4f163c41fe8872f97040e923d

[2019-08-05 10:12] pranjal0811 opened #44 "Defining Tables"
Hi,

Is it possible to define tables in Flink siddhi wrapper?

like I have the query like - "define table test_table(name string,id string)"
with the provided cep context. I can define stream like cep.registerStream(streamId, stream,fields).

Any suggestions would be appreciated.

Thanks

[2019-08-07 18:03] pranjal0811 opened #45 "Partition query in flink siddhi"
I am defining the query like this -

`partition with ( deviceID of TempStream)
begin
    from every e1=TempStream[roomNo == 5]<3> -> e2=TempStream [ roomNo == 6] within 30 seconds
    select 'partition' as str, e1.roomNo as room
    insert into DeviceTempStream;
end;`

got the exception!
`throw new Exception("Unhandled execution element: " + executionElement.toString());`

As the support was for s

[2019-08-15 11:13] guanyufen123 commented on #42
请问怎么解决依赖问题呢

[2019-08-16 08:04] guanyufen123 opened #46 "为什么我按照cep.registerExtension注册扩展却显示找不到。"
用官方的org.wso2.extension.siddhi.execution下的扩展不注册也能使用

[2019-08-16 09:00] guanyufen123 commented on #46
我知道了。没加注解。thanks

[2019-08-16 09:00] #46 closed

[2019-08-19 08:10] aagupta1 opened #47 "Dynamically creating Siddhi Streams"
Hi Haoch,

We are using Flink and Siddhi to build an alerting framework for the security domain.

One thing that we'd like to be able to do is create ad-hoc Siddhi streams based on the rule that a user defines - I want to be able to pull in fields from multiple input streams / schemas and create a new Siddhi stream on the fly which consists of the field names mentioned in the rule that the user cr

[2019-08-20 12:06] xywan89 opened #48 "data ttl"
we are using siddhi to process the realtime event collected online. i want to know the TTL of event processed.
eg. when an event belong to stream testStream arrived,will the event always be available untill restart or shutdown siddhi cluster? if the event group by time window, the event will be discard once it is expired?

i guess the strategy above will affect something like memory use and the pe

[2019-09-04 21:12] #45 closed

[2019-09-12 11:07] pranjal0811 opened #50 "Dynamic Logical Partitioning on event and control stream"
Hi @haoch

How the operator state behaves in parallelism?

As I can see in the class `org.apache.flink.streaming.siddhi.operator.AbstractSiddhiOperator` we are using the managedOperatorState.

Is there a way to partition the rules and events based on some key and use the keyedManagedState?
Just curious about the parallelism and performance. Do we have any performance measures?

For example:  I hav

[2019-09-17 02:51] haoch commented on #41
@laityc ack, looking into the problem. Thanks for reporting.

[2019-09-17 03:00] haoch commented on #47
@aagupta1 I am not sure that if I got the point: you would like to have multiple existing streams with some fields, and would like to define another stream to extract fields from existing streams? Could you please share some use cases?

[2019-09-17 03:35] haoch commented on #43
Could you please share some error details?

[2019-09-17 03:37] haoch commented on #48
The event will be removed after processed. For window/pattern, it will only keep necessary events in memory and while time moves or new events added, the expired events will be removed.

[2019-10-02 04:58] salvalcantara opened #52 "Add support for flink 1.9"
I am running some experiments lately using flink-siddhi and I saw that flink 1.9 is not supported. Is suppoting flink 1.9 in the near-feature roadmap? If so, I might be interested in collaborating with this.

[2019-10-04 03:56] haoch commented on #52
Hi @salvalcantara Great to know that you are interested in collaborating on flink 1.9, your contribution is very welcome.

[2019-10-11 06:16] guanyufen123 opened #53 "A null pointer exception occurred, but I don't know why."
details:
2019-10-11 13:42:26,364 INFO  org.apache.flink.runtime.executiongraph.ExecutionGraph        - Job  (ab76398582b1ffb8b58edb1a3bcd8dcd) switched from state RUNNING to FAILING.

java.lang.NullPointerException
	at org.apache.flink.streaming.siddhi.router.AddRouteOperator.processElement(AddRouteOperator.java:88)
	at org.apache.flink.streaming.runtime.io.StreamInputProcessor.processInput(Stream

[2019-10-12 06:04] haoch commented on #53
@guanyufen123 Could you please share your application code?

[2019-10-14 10:46] guanyufen123 commented on #53
I think I know the reason. Thank you.

[2019-10-15 03:55] haoch commented on #53
@guanyufen123 good to know that, please feel free to reach out to me if any more problems.

[2019-10-15 10:29] guanyufen123 commented on #53
ok,thanks

[2019-10-31 06:43] guanyufen123 commented on #53
ok,thanks

[2019-11-14 07:41] fleeyou opened #54 "Is any possible make flink-siddhi worked in flink 1.4.x"
hi, haoch.
My company use flink 1.4.x now, since flink-siddhi declare prerequisites for flink 1.7.0, I am wondering is that possible make it works in 1.4.x? Does it use some advanced feature only support by flink 1.7.0?
thank you.

[2019-11-18 19:38] haoch commented on #54
Have a try with `0.1.3`: https://clojars.org/com.github.haoch/flink-siddhi_2.11/versions/0.1.3-SNAPSHOT? For supporting Flink 1.7, it's because API in Flink changes a lot since previous version. Lots of use cases are using the latest Flink which should be more stable than ever before.

Please let me know if any problems, i could follow up with `1.4.x` supports as well. The current dev branch is un

[2019-11-20 20:16] salvalcantara commented on #52
@haoch Thanks for assigning, I will hopefully work on this during next week.

[2019-11-22 18:33] haoch commented on #52
Good to know that and look forward to your PR @salvalcantara 👍

[2019-12-02 02:32] guanyufen123 commented on #53
Hello, if I use windows, should I set the parallelism to 1. I don't know if the parallelism is related to the final processing result of the window. Thank you

[2019-12-04 05:23] #53 closed

[2019-12-05 06:55] salvalcantara commented on #52
Ey @haoch just to inform that I've been busier than expected....I will finally start working on this next week. Also (off-topic), have you considered offering a UDF as part of your library (for instance, a coprocess function?) ... I have been experimenting with this approach lately and seems a plausible alternative to relying on the lower-level Operator API.

[2019-12-15 08:20] ChenShuai1981 opened #55 "支持动态更新CEP规则"
请问flink-siddhi支持动态更新CEP规则吗？一般的套路是什么？有没有示例？谢谢！

[2019-12-15 08:33] ChenShuai1981 opened #56 "TimeWindowSample NOT worked as expected"
我将WSO2 Siddhi repo下的示例 [TimeWindowSample](https://github.com/siddhi-io/siddhi/blob/master/modules/siddhi-samples/quick-start-samples/src/main/java/io/siddhi/sample/TimeWindowSample.java) 用 flink-siddhi 库改写并运行，发现和原生的示例输出结果并不相同，难道是我哪里写得不对吗？

`StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
        env.setParallelism(1);
        env.setStreamTimeCharacteristic(T

[2019-12-15 08:47] ChenShuai1981 commented on #56
难道Siddhi只支持processing time处理时间吗？

[2019-12-16 13:20] salvalcantara commented on #52
Hi @haoch, the offensive lines when trying to run on Flink 1.9 come from the `DynamicPartitioner` class, which implements the `StreamPartitioner` interface. The thing is that, in Flink 1.9, the `selectChannels` method has changed to `selectChannel` as illustrated below:

[code]

The dynamic partitioner is used like this:

[code]

[2019-12-21 06:16] darren2013 opened #58 "flink+siddhi vs 单纯siddhi性能对比"
在不考虑扩展性的前提下
flink+siddhi,flink一个主要做数据分发，真正计算的是siddhi在操作，这个过程，数据分发的网络开销(数据的序列化和反序列化)，还有flink的数据结构转化成siddhi的结构
如果只用siddhi,这些都可以省去，性能会不会更好，因为是单机程序运维成本也会更好

比如，5台64G机器，应用跑在flink siddhi上，和用siddhi 分5个应用跑在5个机器上，不考虑数据准确性前提下，那个性能会更好
感谢！

[2020-01-13 09:19] guanyufen123 commented on #58
这个作者好像是外国的。你用英语问他可能会回答你

[2020-01-13 09:40] guanyufen123 commented on #55
[code]

[2020-01-13 10:13] ChenShuai1981 commented on #55
有比较完整的示例吗？谢谢！

[2020-01-14 09:15] guanyufen123 commented on #55
这个就很完整了。在添加类型是ControlEvent的数据源的时候控制。你可以测试下，加个数据源和sink

[2020-01-14 09:42] guanyufen123 commented on #55
`
public class Test1 {
    public static void main(String[] args) throws Exception {

        StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();

        env.setParallelism(1);
        DataStream<Integer> stream = env.addSource(new SourceFunction<Integer>() {
            @Override
            public void run(SourceContext<Integer> sourceContext) throws Exception

[2020-01-14 09:51] guanyufen123 commented on #56
我测试了一下，你把env.setStreamTimeCharacteristic(TimeCharacteristic.EventTime)这个删了就一样了

[2020-01-14 09:55] faf-xff commented on #56
![image](https://user-images.githubusercontent.com/41617530/72333596-02cc8000-36f7-11ea-8f92-d3aba1f07236.png)

[2020-02-04 09:36] pranjal0811 opened #60 "Control Event is broadcasted twice Bug"
Control stream is broadcasted twice to the downstream operator.

As control stream broadcasted first, then union with event stream, then the union stream goes to Add Route Operator. Where all the mapping is done with the event and control stream.

Then the dynamic partitioning takes place, If the upstream is NamedControlStream then it got broadcasted again to Siddhi-cep-operator. Which degrades th

[2020-02-04 10:09] pranjal0811 commented on #60
As I see its already fixed in latest commits.

[2020-02-04 10:09] #60 closed, assigned to nobody

[2020-02-13 13:43] salvalcantara commented on #52
@haoch Closing the ticket since support was already added in #59.

[2020-02-13 13:44] #52 closed

[2020-03-04 08:24] faf-xff opened #61 "处理速度慢"
你好，我们在9台机器搭建的flink机器（每台机器的配置都是8core-16g内存）上对flink-siddhi进行测试。发现这九个机器的cpu都比较高几乎都达到95%以上。对高cpu的任务进行了排查。发现下面这个算子占用的cpu比较高。
不知道你们有没有发现这个问题。
![image](https://user-images.githubusercontent.com/41617530/75859227-94718780-5e34-11ea-8df2-3e15a426ae8a.png)
而且我们测试1分钟/400万条的数据，设置1个规则，9台机器并行度为40，1分钟也消费不了400万条的数据量。不知道是不是我们使用方式有问题。

[2020-03-05 12:51] san213 opened #62 "Getting error "no viable alternative at input""
I have a rule like this defined.

"from inputstream[ data contains 'x' ] select data insert into outputstream;"

Can you please help me in understanding what is the error here?

Exception:

Caused by: io.siddhi.query.compiler.exception.SiddhiParserException: Error between @ Line: 1. Position: 0 and @ Line: 1. Position: 63. Syntax error in SiddhiQL, no viable alternative at input 'inputstream[ data

[2020-03-06 02:16] faf-xff commented on #62
Syntax error

If you have any questions about this syntax, please refer to https://siddhi.io/en/v5.1/docs/api/latest/#concat-function

[2020-03-06 10:22] san213 commented on #62
Thank you for the revert. I need one more help. With reference to CEPPipeline.scala example.
Can you please share an example control event data format to be pushed to kafka?

[2020-03-09 12:07] #62 closed, assigned to nobody

[2020-03-26 02:10] #61 closed, assigned to nobody

[2020-04-02 11:35] pavan91771 opened #63 "ArrayIndexOutOfBoundsException"
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 1
	at org.apache.flink.streaming.siddhi.schema.SiddhiStreamSchema.getStreamDefinition(SiddhiStreamSchema.java:49)
	at org.apache.flink.streaming.siddhi.schema.SiddhiStreamSchema.getStreamDefinitionExpression(SiddhiStreamSchema.java:64)
	at org.apache.flink.streaming.siddhi.operator.SiddhiOperatorContext.getAllEnrichedExecutionPla

[2020-04-02 11:36] pavan91771 commented on #63
I am taking the input from kafka

[2020-04-16 12:10] #63 closed, assigned to nobody

[2020-04-16 12:10] pavan91771 commented on #63
done

[2020-04-25 10:58] CCweixiao opened #64 "测试用例最后一个例子为什么会空指针异常"
测试用例最后一个例子为什么会空指针异常
[code]

[2020-04-29 10:33] pranjal0811 opened #65 "Adding logic for restoring the rules states after job failure"
https://github.com/haoch/flink-siddhi/blob/cf4b2b6935bc69be1b465e49431bb8485e4d670b/core/src/main/java/org/apache/flink/streaming/siddhi/operator/AbstractSiddhiOperator.java#L341

https://github.com/haoch/flink-siddhi/blob/cf4b2b6935bc69be1b465e49431bb8485e4d670b/core/src/main/java/org/apache/flink/streaming/siddhi/router/AddRouteOperator.java#L68

Moving AddRouteOperator members in flink state fo

[2020-05-09 05:45] ccbeloy opened #68 "Sample json of the ControlEvent"
Hi,

Can someone provide the sample ControlEvent json that can be push to like Kafka topic please?
I'm not able to make sense the MetadataControlEvent.builder.

Thanks,
Calvin

[2020-05-09 16:32] ccbeloy commented on #68
@haoch
I'm getting exception with below sample control event json:
{"addedExecutionPlanMap": {"id14": "from inputStream [ticker == \"AAPL\"] insert into outputStream"}}

Deserialized thru ControlEventSchema

ERROR:
org.apache.flink.shaded.jackson2.com.fasterxml.jackson.databind.JsonMappingException: No suitable constructor found for type [simple type, class org.apache.flink.streaming.siddhi.contro

[2020-05-11 04:33] ccbeloy opened #69 "Dynamic CEP doesn't work on Flink 1.8.2"
With AWS Kinesis Flink 1.8
Flink application built on flink 1.8.2 and flink-siddhi 0.2.2-SNAPSHOT or 0.2.1 both versions failed with below error:

messageType
INFO
threadName
flink-akka.actor.default-dispatcher-2
throwableInformation.0
**java.lang.AbstractMethodError**
throwableInformation.1
at org.apache.flink.runtime.io.network.api.writer.RecordWriter.emit(RecordWriter.java:128)
throwableInforma

[2020-05-16 07:20] lccbiluox2 commented on #58
我也想知道Flink cep和 siddhi那个性能好那个功能全面

[2020-12-29 18:02] olad32 opened #70 "Less activity in 2020 on Flink-Siddhi (and also on Siddhi) than in 2019"
I find Siddhi very interesting but i am concerned with the lack of recent activity, is there less activity because both project are stable ? Is this project future proof ?
I also search for the best "orchestrator" for Siddhi. What's the advantages of Siddhi/Flink over WSO2 EI ? Is there any other option ?
Thx for the work on this project

[2021-01-05 03:10] lovepoem opened #71 "[bug]The released flink-siddhi_2.11-0.2.2-SNAPSHOT.jar has old code"
Recently , I use flink-siddhi in my project , but I find the code from jar did not match the source code here `https://github.com/haoch/flink-siddhi`

![image](https://user-images.githubusercontent.com/827112/103601856-87865e80-4f45-11eb-8208-81a7ab341783.png)  jars

https://repo.clojars.org/com/github/haoch/flink-siddhi_2.11/0.2.2-SNAPSHOT/

eg.
`org.apache.flink.streaming.siddhi.utils.SiddhiExec

[2021-01-06 07:16] haoch commented on #71
Thanks for reporting the issue. It's updated now, please have a try again: https://repo.clojars.org/com/github/haoch/flink-siddhi_2.11/0.2.2-SNAPSHOT/flink-siddhi_2.11-0.2.2-20210106.071414-6.pom

[2021-01-06 07:56] lovepoem commented on #71
![image](https://user-images.githubusercontent.com/827112/103743698-8df50300-5037-11eb-9f73-f4cbf8bb28bc.png)

https://github.com/haoch/flink-siddhi/blob/cf4b2b6935bc69be1b465e49431bb8485e4d670b/core/src/main/java/org/apache/flink/streaming/siddhi/utils/SiddhiExecutionPlanner.java#L293

It seems that the difference still exist

[2021-01-06 09:49] lovepoem commented on #71
Now fixed , thank you

[2021-01-06 09:49] #71 closed, assigned to nobody

[2021-02-10 13:06] LuckyBoyDE commented on #53
@guanyufen123 i have a similar stack trace. Can you maybe explain what your problem was?

[2021-02-10 20:18] haoch commented on #53
@LuckyBoyDE What's your exception stack?

[2021-02-10 20:39] LuckyBoyDE commented on #53
Well, actually i am not running flink-siddhi at all but an own flink application. Sadly i am not permitted to share stack traces or code.
I just have a very similar stack trace i am trying to debug and thought knowing what caused it in this case might help me.

I am really sorry for hijacking this issue like this.

[2021-05-12 13:36] SMART2016 opened #72 "I am trying to integrate Flink-siddhi with Flink application and trapped in classnotfound issue"
**POM**:

[code]

**Main class:**

[code]

**Getting below runtime error :**

[code]

Stuck in this loop , please help not Sure how to fix it....

[2021-05-23 04:21] SMART2016 opened #73 "Siddhi CEP not processing Kafka messages"
Hi I am trying to create a simple application where the app will consume Kafka message do some cql transform and publish to Kafka and below is the code:

**input json to Kafka:**

`{"awsS3":{"ResourceType":"aws.S3","Details":{"Name":"crossplane-test","CreationDate":"2020-08-17T11:28:05+00:00"},"AccessBlock":{"PublicAccessBlockConfiguration":{"BlockPublicAcls":true,"IgnorePublicAcls":true,"BlockPub

[2021-05-30 06:59] SMART2016 commented on #50
Have you tried using siddhi partitions in anyway... because siddhi has the concept of partitions and may be that can be applied here.  https://siddhi.io/en/v5.1/docs/query-guide/#partition

Or Flink based data partitioning which diverts data based on the partitioning scheme to respective operator task if parallelism is enable for an operator.

[2021-06-01 09:28] SMART2016 commented on #68
Any breakthrough on this ... I am also not clear on the control stream input message ...

[2021-06-14 06:22] SMART2016 commented on #73
It solved .... The issue was with setting flink execution environment time characteristics ...

[2021-06-14 06:22] #73 closed, assigned to nobody

[2021-06-14 06:22] SMART2016 commented on #73
It solved .... The issue was with setting flink execution environment time characteristics ...

[2021-06-14 06:32] SMART2016 opened #74 "Null pointer with Control stream"
hi @haoch ,

      I am getting Null-pointer exception when using control stream and publishing data through kafka to input stream. When I debugged I found that somehow the EventListener( SiddhiStreamOperator --> AbstractSiddhiOperator) siddhiRuntimeHandlers map is empty and doesn't have the added rule from the control stream.

Steps:
- created two kafka topics one for data stream and one for cont

[2021-06-14 07:03] SMART2016 commented on #53
I am getting a similar issue while using control stream and has raised an issue separately , any help will be great:
https://github.com/haoch/flink-siddhi/issues/74

[2021-08-10 06:07] sumeetkhillare opened #75 "Select all fields with some custom mappings"
I have the pattern query and I want to select all fields with some of our custom mapping can we do this?
ex:
from every( e1=TempStream ) -> e2=TempStream[ e1.roomNo == 25 and (e1.temp + 5) <= temp ]
    within 10 min select e1.roomNo, e1.temp as initialTemp, e2.temp as finalTemp
insert into AlertStream;
for this type of query I want to select all fields from e1 and e2 and I want to add some custom

[2022-01-12 12:14] SMART2016 opened #76 "WIndow operator in siddhi query are failing"
Hi,

   Below query when run is failing with error:
Error on sending events [Event{timestamp=1641985535389, data=[4, 4320918970, 2, resource, aws_S3, stackidentitytest.com, stackidentitytest.com, True, S3FullControlAccess, [], 2022-01-12 16:35:35], isExpired=false}] in the SiddhiApp 'c089377c-4eda-4adb-b925-a315f5bcd20f'
org.apache.flink.streaming.runtime.tasks.ExceptionInChainedOperatorException:

[2022-07-26 19:20] madhurijain97 commented on #13
We observed that checkpoint still works if you checkpointSiddhiRuntimeState for every control event.
[code]

This would help reduce the latency I believe.
Since our usecase requires processingTime, we only changed when checkpointSiddhiRuntimeState gets called.

[2022-07-27 03:01] GithubZhitao commented on #10
Here is a another siddhi  distribution env(https://github.com/siddhi-io/distribution.git).
Does this project support the exactly-once semantics ?

[2022-07-27 03:15] GithubZhitao commented on #27
Hi @haoch.  Although I haven't know all about siddhi,  I am really  absorbed by it.
I have two questions:
1. "flink siddhi support dynamic cep runtime" :   Did you mean that one FLINK Job can run multi cep patterns distributed ?
2.  siddhi also has its own distribution plugin(https://github.com/siddhi-io/distribution). After I read the architecture  document, I didn't find any description about th

[2022-07-27 03:55] GithubZhitao commented on #43
bug ?

[2022-07-27 04:00] GithubZhitao commented on #58
flink 对数据一致性，一次性处理的保证 siddhi 可以保证吗

[2022-08-19 09:11] obiwabrakenobi commented on #10
is this project still maintained?